body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1{
  color:red;
  text-align:center;
  
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;

}
#featured-property{
  width: 800px;
  text-align: center;
}
figcaption{
  text-align: center;
  font-size: 20;
}
#details{
  display: block;
}
div{
  float: left;
  text-align: center;
  background-color: red;
  width:350px;
}